
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html,body{ 
    background-color: white; 
    color: rgb(255, 255, 255); 
    text-rendering: optimizeLegibility; 
    font-size: 16px; 
    font-family:'work sans','Arial',sans-serif; 
    font-weight: 300;
} 
.row{ 
    max-width: 1440px; 
    margin: 0 auto;
    
} 

.clearfix{
    zoom:1;
}
.clearfix::after{  
    content: ""; 
    display: table; 
    clear: both; 
    visibility: hidden;
}
header{
    background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,0.4)),url(img/header-img.jfif); 
    height:100vh; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
} 
.header-box{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform:translate(-50%,-50%); 
    text-align: center;
}
h1{
  font-size: 500%; 
  color:#fff;  
  font-weight: 650; 
  margin-bottom: 20px;
} 
h2{
    font-size: 200%; 
    color:#fff; 
    font-weight: 500;
}
.header-text-box{
    margin-bottom: 100px;
} 
       /****** buttons ******/
.btn:link,
.btn:visited,
input[type=submit]{
    text-decoration: none; 
    padding: 10px 30px; 
    border-radius: 200px; 
    display: inline-block;
} 
.btn-full:link,
.btn-full:visited,
input[type=submit]{ 
    background-color: #5ab6c8;   
    color: #ffff;
}
.btn-full:hover,.btn-full:active,input[type=submit]:hover{
    background-color: #066ef0;
}
.btn-ghost:link,
.btn-ghost:visited{ 
    border: 2px solid #5ab6c8;   
    color: black;
}
.btn-ghost:hover,.btn-ghost:active{
    background-color: #066ef0; 
    color: white;
}
.main-nav{ 
    list-style: none; 
    float: right; 
    margin-top: 40px;
}
.main-nav li{ 
    display: inline-block; 
    margin-right: 40px; 
    text-transform: uppercase;
} 
.main-nav li a:link,.main-nav li a:visited{
    text-decoration: none; 
    color: white;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,.main-nav li a:active{
   border-bottom: 2px solid #5ab6c8;
}
.logo{
    height:80px; 
    width: 110px; 
    float:left; 
    padding: 10px; 
} 
.laptop-img{
    width:100%; 
    max-width: 600px; 
    border-radius: 40px ;  
    min-height: 400px;
} 
.about-heading{
    color: black; 
    font-size: 250%; 
    font-weight: 500; 
    margin-bottom: 50px;  
    text-align: left;
}
.about-paragraph{
    color: #555; 
    margin-bottom: 50px; 
    font-weight: bolder;
    font-family: 'Work-Sans';
} 
.about-box{
margin-top: 110px;
} 
.about-box:first-child{ 
    text-align: left; 
    text-align: justify; 
    padding:0 5%;
} 
.about-box:last-child{ 
    text-align: right; 
    padding: 0 5%;
}
.about-section{
    padding-bottom: 60px;
} 
/* navigation */

.section-heading{ 
    font: 250%; 
    color: black; 
    margin-bottom: 20px; 
    margin-top: 120px;
} 
.section-sub-heading{ 
    font-size: 150%;
    color:darkgrey; 
    font-weight: 300; 
    margin-bottom: 30px; 
    line-height: 1.5;
}  
.section-sub-heading:after{ 
    display: block;  
    height: 2px;
    width: 100px;  
    background-color: #5ab6c8; 
    content: " "; 
    margin: 30px auto 0 auto;

} 
.work-section{ 
    text-align: center;  
    background-color: #f4f4f4;

} 
.work-portfolio{ 
    margin-top: 10px; 
    list-style: none; 
    width: 100%;
}
.work-portfolio li{ 
    display: block; 
    width: 25%; 
    float: left; 
    
} 
.portfolio-image{ 
    background-color: black;  
    overflow: hidden;
} 
.portfolio-image img{ 
    width:100%; 
    opacity: .7; 
    height: auto; 
    transform: scale(1.15); 
    transition: transform 0.5s,opacity 0.5s;
} 
.portfolio-image img:hover{ 
   transform: scale(1);  
   opacity: 1;
}
.work-para{ 
    color: white; 
} 

/* services section */ 
.services-section{ 
    text-align: center; 
    background-color: #f4f4f4;   
    color: black; 
    padding-bottom: 38px;
}
.service-box{ 
    padding: 1% 3%;
}

.big-icon{
    font-size: 400%; 
    color:#5ab6c8; 
    display: block; 
    margin-bottom: 30px;
}
.service-heading{ 
    font-size: 150%; 
    margin-bottom: 30x; 
    font-weight: 450;
}
.service-para{
    color: gray; 
    font-size: 90%;  
    margin-top: 20px;
    margin-bottom: 20px; 
    text-align: center;
}
.service-link{
    color:#066ef0; 
    text-transform: uppercase; 
    text-decoration: none;
}
/* patners section */ 
.partners-section{ 
    text-align: center; 
    margin-top: -33px; 
    margin-bottom: 50px;
}
.partner-logo{
    width: 65%; 
    height: auto;
}
/*testimonial-section*/ 
.testimonials-section{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8)),url(img/testimonial-background.jpg);  
    background-size: cover;
    text-align: center;
    color: #fff; 
    background-attachment: fixed;  
    margin-top: 20px;
    
}
.testimonial-heading{
    font-size: 250%; 
    margin-bottom: 20px; 
    margin-top:150px;
}
.testimonial-box{ 
    text-align: left; 
    margin-bottom: 50px; 
    margin-right: 120px; 
    margin-left: 20px; 
    padding-left: 70px;
} 
blockquote{ 
    padding: 2%; 
    font-style: italic; 
    line-height: 140%; 
    position: relative; 
    margin-top: 40px;
} 
blockquote:before{
    content: "\201C"; 
    display: block; 
    font-size: 500%; 
    position: absolute; 
    left: -5px; 
    top: -5px;
} 
cite{ 
    display: block; 
    margin-top: 25px; 
    font-size: 90%; 
    font-family: sans-serif; 
    font-weight: bold; 
   
} 
cite img{
    border-radius: 50%; 
    height: 20%;  
    vertical-align: middle; 
    margin-right: 20px;
} 

/*packages-section */ 
.packages-section{
    text-align: center; 
    background-color: #f4f4f4;    
     margin-bottom: 50px;
}
.packages-heading{ 
    color: black; 
    font-size: 250%; 
    margin-bottom: 50px; 
    margin-top: 90px;
}
.package-box{
    background-color: #fff; 
    width: 80%;  
    margin-inline-start: 160px; 
    margin-inline-end: -300px;
    margin-bottom: 30px;  
    color: black; 
    box-shadow: 0 3px 2px #efefef; 
    text-align: left;   

}
.package-box ul{
    list-style: none;
}
.package-headings{
    font-size: 150%; 
    color: #555; 
    margin-bottom: 50px; 
    font-weight: 400;
}
.package-price{
    color:#5ab6c8; 
    font-size: 300%; 
    font-weight: 300%; 
    margin-bottom: 10px;
} 
.package-price span{
    font-size: 30%; 
    font-weight: 500;
} 
.package-para{ 
    color: #555; 
    font-size: 90%;
    font-weight: 300%;  
    margin-bottom: 10px;
} 
.small-icon{ 
    color: #5ab6c8; 
    font-size: 120%; 
    display: inline-block; 
    margin-right: 10px; 
    width:20px;  
    text-align: center;

} 
.package-box ul li{ 
    color: #555; 
    padding: 5px 0;
} 
.package-box div{ 
    padding: 15px; 
    border-bottom: 1px solid #efefef;
} 
.package-box div:last-child{
    border:0; 
    text-align: center; 
    padding-left: 0;
} 
.package-box div:first-child{
    background-color: #fcfcfc;
} 

/* contact section */  

.contact-section{ 
    padding-left: 400px;  
    color: #066ef0; 
    margin-bottom: 86px;
} 
.contact-heading{
    color: #000; 
    margin-top: 90px; 
    margin-bottom: 50px;
   
}  
.head{ 
    padding-left: 155px;
}
.contact-form{
    width: 60%;  
    text-align: left;  
} 
input[type=text],
input[type=email],
textarea{
    width:100%; 
    padding: 8px;  
    margin-left: 290px;
    border-radius: 3px; 
    border: 1px solid #ccc; 
    background-color: #fff;
}  
input[type=checkbox]{
    margin: 10px 5px 9px; 
    margin-left: 250px;
}
textarea{
    height: 80px;  
    padding-right: 68px; 
    width: 100%;
    border-radius: 3px; 
    margin: 10px 0px 0px 230px;
} 
input[type=submit]{
    border: 0;  
    margin-top: 10px;
    margin-left: 320px;
}
.newsletter{
    margin-top: 10px; 
}  
*:focus{
    outline: none;
} 

/* footer */ 

footer{
    background-color: rgb(235, 229, 229); 
    padding: 50px; 
    font-size: 80%; 
    color: #888;
}  
.footer-nav{
    float: left;
} 
.social-links{
    float: right;
}
.footer-nav li{ 
    list-style: none; 
    display: inline-block;
    margin-right: 20px;
} 
.footer-nav li a:link,
.footer-nav li a:visited{ 
   color: #888; 
   text-decoration: none; 
   transition: color 0.2s;
} 
.social-links li{
    list-style: none; 
    display: inline-block;
    margin-left: 20px;
} 
.social-links li a:link,
.social-links li a:visited{ 
   color: #888; 
   text-decoration: none; 
   font-size: 160%;
} 
.footer-nav li a:hover,
.footer-nav li a:active{
    color: #066ef0;
}
footer p{ 
    text-align: center; 
    margin-top: 40px;
}


